<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <title>Finstagram</title>
    </head>
        <body>
            <%= yield %>
        </body>
</html>